<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right" routerLink="/home" routerLinkActive="active">Logo
    </a>

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active">
        <a routerLink="/cursos">
          Cursos
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/login" routerLinkActive="active">
          Login
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
